.hero_marketplace {
  background-color: var(--backgroud-card-color);
  padding: 100px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.item_details .item_img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.box.is__big {
  padding: 30px !important;
}

.box {
  background: var(--backgroud-card-after-color);
  /* border: solid 1px #262a3a; */
  padding: 20px;
  border-radius: 20px;
  display: block;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --cb-space-y-reverse: 0;
  margin-top: calc(10px * calc(1 - var(--cb-space-y-reverse)));
  margin-bottom: calc(10px * var(--cb-space-y-reverse));
}

.light_bg {
  background: #edf3f5;
  color: #183b56;
  -webkit-box-shadow: 0 2px 4px #7e8eb11f !important;
  box-shadow: 0 2px 4px #7e8eb11f !important;
  padding: 4px 16px;
  border-radius: 28px;
  font-weight: 500;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.space-y-20 > :not([hidden]) ~ :not([hidden]) {
  --cb-space-y-reverse: 0;
  margin-top: calc(20px * calc(1 - var(--cb-space-y-reverse)));
  margin-bottom: calc(20px * var(--cb-space-y-reverse));
}

.color_text {
  color: #6f7d95;
}

.light_bg span {
  color: #183b56;
}

.hr2 {
  height: 1px;
  width: 100%;
  background: #cad1d8;
}

.tab-content {
  background-color: var(--backgroud-card-color) !important;
}
