@model BTTH.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<div class="w3-card w3-row-padding">
<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usid" />
            <div class="form-group">
                <label asp-for="UsName" class="control-label"></label>
                <input asp-for="UsName" class="form-control" />
                <span asp-validation-for="UsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsEmail" class="control-label"></label>
                <input asp-for="UsEmail" class="form-control" />
                <span asp-validation-for="UsEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsPassword" class="control-label"></label>
                <input asp-for="UsPassword" class="form-control" />
                <span asp-validation-for="UsPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsRole" class="control-label"></label>
                <input asp-for="UsRole" class="form-control" />
                <span asp-validation-for="UsRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

            </div>