@{
	ViewData["Title"] = "Trang chủ | Qshop";
}

@section css {
	<link rel="stylesheet" href="~/css/index.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
	<style>
		.swiper {
			width: 100%;
			padding-top: 50px;
			padding-bottom: 100px;
			height: min-content;
			z-index: 0;
		}

		.swiper-slide {
			background-position: center;
			background-size: cover;
			width: 400px;
			height: min-content;
		}

		.swiper-slide:not(.swiper-slide-active) {
			filter: blur(1px);
			background-color: var(--backgroud-card-color);
		}

		.swiper-slide img {
			display: block;
			width: 100%;
		}
	</style>
}

<!-- Trust Section -->
<div class="container-fluid text-center position-relative">
	<div class="mainVideo">
		<video data-srctimeout="~/images/main-video.mp4" muted="" loop="" autoplay="" src="~/images/main-video.mp4"></video>
	</div>
	<h1 class="fw-bold text-uppercase gradient" style="padding-top: 120px; font-size: 54px">Q shop</h1>
	<h1 class="fw-bold mt-3">Shop acc <span class="gradient">Liên Minh Huyền Thoại</span> số 1 Việt Nam</h1>
	<p class="pt-3 fw-bold fs-6 text-white-50">
		Tài khoản của chúng tôi có chất lượng cao và đi kèm với chính sách bảo hành.
	</p>
	<div class="col-lg-12">
		<div class="hero__left space-y-20 text-center pb-4 pt-5">
			<div class="trusted">
				<div class="avatars -space-x-20" style="display: inline-block">
					@await Component.InvokeAsync("SmallReviews")
				</div>
				<span class="fw-bold">Được tin cậy bởi hơn 50,000+ người chơi.</span>
			</div>
		</div>
	</div>
	<!-- Select game Section -->
	<div class="container mt-5">
		<h1 class="text-center mb-5">Tài khoản các loại game mà chúng tôi đang có</h1>
		<div class="row justify-content-center">
			@await Component.InvokeAsync("GameCards")
		</div>
	</div>
</div>

<!-- Reviews Section -->
<div class="container my-5">
	<div class="reviews">
		<a class="" href="https://www.facebook.com/q5nguyen">
			<span>Hơn 500 đánh giá trên</span> <i class="bi bi-facebook"></i>
		</a>
	</div>
</div>
<!-- Community Section -->
<div class="container my-5">
	<div class="community">
		<div class="community__items">
			<div class="row justify-content-center mb-20_reset">
				<div class="col-10 col-sm-10 col-md-4 col-lg-4 mb-3">
					<div class="item space-y-10">
						<div class="logo">
							<i class="bi bi-clock-history"></i>
						</div>
						<h3 class="text-center">Nhận Acc ngay</h3>
						<p class="text-center">
							Chúng tôi gửi thông tin tài khoản của mình ngay lập tức sau khi khoản thanh toán thành công.
						</p>
					</div>
				</div>
				<div class="col-10 col-sm-10 col-md-4 col-lg-4 mb-3">
					<div class="item space-y-10 item-blue">
						<div class="logo">
							<i class="bi bi-trophy"></i>
						</div>
						<h3 class="text-center">Sẵn sàng đánh rank</h3>
						<p class="text-center">Các tài khoản của chúng tôi đều có ít nhất 20 tướng và thấp nhất là cấp 30.</p>
					</div>
				</div>
				<div class="col-10 col-sm-10 col-md-4 col-lg-4">
					<div class="item space-y-10 item-green">
						<div class="logo">
							<i class="bi bi-headset"></i>
						</div>
						<h3 class="text-center">Hỗ trợ 24/7</h3>
						<p class="text-center">
							Nhân viên hỗ trợ trực tiếp bất cứ lúc nào trong ngày, cần hỗ trợ hãy liên hệ ngay với chúng tôi!!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- How to buy Section -->
<div class="container howToBuy">
	<h1 class="text-center my-5" style="margin-top: 120px !important">
		<span class="gradient">Cách mua acc</span> Liên Minh Huyền Thoại tại Qshop
	</h1>
	<div class="row justify-content-center align-items-start">
		<div class="col-10 col-sm-10 col-md-3 col-lg-3 text-center howToBuy-item">
			<div class="howToBuy-ico mx-auto">
				<i class="bi bi-search bi-purple"></i>
			</div>
			<p class="howToBuy-sub my-3 fw-bold">Chọn các tài khoản bạn muốn mua</p>
			<p class="">Bạn có thể mua nhiều sản phẩm cùng lúc khi thanh toán</p>
		</div>
		<div class="howToBuy-under-line col-3 col-sm-3 col-md-1 col-lg-1 my-3 align-self-center"></div>
		<div class="col-10 col-sm-10 col-md-3 col-lg-3 text-center howToBuy-item">
			<div class="howToBuy-ico howToBuy-icon-blue mx-auto">
				<i class="bi bi-credit-card bi-blue"></i>
			</div>
			<p class="howToBuy-sub my-3 fw-bold">Chọn phương thức thanh toán ưa thích của bạn</p>
			<p class="">Chúng tôi chấp nhận thanh toán bằng thẻ điện thoại, chuyển khoản ngân hàng</p>
		</div>
		<div class="howToBuy-under-line col-3 col-sm-3 col-md-1 col-lg-1 my-3 align-self-center"></div>
		<div class="col-10 col-sm-10 col-md-3 col-lg-3 text-center howToBuy-item">
			<div class="howToBuy-ico howToBuy-icon-green mx-auto">
				<i class="bi bi-envelope-paper bi-green"></i>
			</div>
			<p class="howToBuy-sub my-3 fw-bold">Nhận tài khoản game của bạn ngay lập tức qua E-mail</p>
			<p class="">Hãy nhớ kiểm tra thư mục thư rác / thư rác của bạn vì nó cũng có thể nằm ở đó!</p>
		</div>
	</div>
</div>

<!-- Swiper -->
<div class="container text-center my-5">
	<h1 style="margin-top: 120px !important">Hơn <span class="gradient"> 97,000+ game thủ </span></h1>
	<h1>Tin tưởng chúng tôi</h1>
	<!-- Swiper -->
	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			@await Component.InvokeAsync("Reviews")
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<div class="container my-5">
	<h1 class="text-center my-5">Đọc những bài viết thú vị về Liên Minh Huyền Thoại</h1>
	<div class="row justify-content-center">
		@await Component.InvokeAsync("Articles")
	</div>
	<div class="row">
		<div class="col-12 text-center"><a class="btn btn-primary" href="/articles">Đến Blog của QShop</a></div>
	</div>
</div>
@section js {
	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<script>
		var swiper = new Swiper('.mySwiper', {
			effect: 'coverflow',
			grabCursor: true,
			centeredSlides: true,
			slidesPerView: 'auto',
			initialSlide: 4,
			loop: true,
			coverflowEffect: {
				rotate: 10,
				stretch: 20,
				depth: 100,
				modifier: 1,
				slideShadows: false,
			},
			pagination: {
				el: '.swiper-pagination',
				dynamicBullets: true,
			},
		});
	</script>
}