@model QShop.Models.User;

@{
	ViewData["Title"] = "Profile | Qshop";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
	<link rel="stylesheet" href="/css/profile.css" />
	<link rel="stylesheet" href="/css/table.css" />
}

<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center">PROFILE</h1>
		</div>
	</div>
</div>


<div class="container">
	<a href="/profile/transaction" class="btn btn-white btn-simple btn-sm my-4">
		<i class="bi bi-clock-history"></i> Lịch sử giao dịch
	</a>
	<div class="row blog-top w-100" style="gap: 20px;">
		<div class="blog-img col-12 col-sm-12 col-md col-lg">
			<img src="@Model.Thumbnail" alt="" title="apps for lol" id="previewImage" />
			<label for="thumbnail" class="blog-img-backdrop">
				<i class="bi bi-camera-fill"></i>
			</label>
		</div>
		<div class="col-12 col-sm-12 col-md col-lg">
			<form class="blog-info d-flex flex-column m-0 h-100" asp-action="Edit" enctype="multipart/form-data">
				<div class="mb-auto">
					<input type="hidden" asp-for="Id" />
					<input type="file" id="thumbnail" name="ImageUpload" hidden>
					<div class="mb-auto">
						<div class="text-end"><button class="btn btn-simple" type="button" id="btn-change-password">Đổi mật
								khẩu</button></div>
						<div class="mb-3">
							<span class="nameInput">Username </span>
							<div class="confirm">
								<input type="text" class="w-100" placeholder="" value="@Model.UserName" name="UserName">
							</div>
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<span class="nameInput">Email </span>
							<div class="confirm">
								<input type="text" class="w-100" placeholder="" value="@Model.Email" name="Email">
							</div>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<span class="nameInput">Ngày sinh </span>
							<div class="confirm">
								<input type="date" class="form-control" placeholder="Enter birthday" name="birthday" required=""
									value="@Model.Birthday.ToString("yyyy-MM-dd")">
							</div>
						</div>
					</div>
				</div>
				<div class="text-end">
					<button class="btn" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal-change-password" id="modalChangePassword" style="display:none">
	<div class="modal-change-password-wrapper">
		<form class="mb-auto d-flex flex-column h-100" id="changePasswordForm" method="post">
			<div class="fs-3 fw-bold">Đổi mật khẩu</div>
			<div class="mb-3">
				<span class="nameInput">Mật khẩu cũ </span>
				<div class="confirm">
					<input type="text" class="w-100" placeholder="Nhập mật khẩu cũ" id="passwordOld" name="passwordOld">
				</div>
			</div>
			<div class="mb-3">
				<span class="nameInput">Mật khẩu mới </span>
				<div class="confirm">
					<input type="text" class="w-100" placeholder="Nhập mật khẩu mới" id="passwordNew" name="passwordNew">
				</div>
			</div>
			<div class="mb-auto">
				<span class="nameInput">Nhập lại mật khẩu </span>
				<div class="confirm">
					<input type="text" class="w-100" placeholder="Nhập lại mật khẩu mới" id="passwordRepeat"
						name="passwordRepeat">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="btn btn-border w-100" id="btn-change-password-cancel">Huỷ bỏ</div>
				</div>
				<div class="col">
					<button class="btn w-100" id="btn-change-password-submit" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section js {
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script type="module" src="/js/profile.js"></script>
}