@model BTTH.Models.STDbio

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

<div class="w3-card w3-row-padding">
<h1>Edit</h1>

<h4>STDbio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="STDbioId" />
            <div class="form-group">
                <label asp-for="ExamMark" class="control-label"></label>
                <input asp-for="ExamMark" class="form-control" />
                <span asp-validation-for="ExamMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sbjid" class="control-label"></label>
                <select asp-for="Sbjid" class="form-control" asp-items="ViewBag.Sbjid"></select>
            </div>


            <div class="form-group">
                <label asp-for="Stdid" class="control-label"></label>
                <select asp-for="Stdid" class="form-control" asp-items="ViewBag.Stdid"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</div>