@model IEnumerable<QShop.Models.Game>

@foreach (var item in Model)
{
	<li>
		<a class="dropdown-item" href="/market/?game=@item.Slug">
			<img data-v-69836fc1="" class="w-6 h-6 mr-2" src="@item.Logo"><span>@item.Name</span>
		</a>
	</li>
}