*.dll
*.dll
Web3.EF.FirstCode/bin/Debug/*
Web3.EF.FirstCode/bin/Debug/*
*/bin/Debug/*
*/obj/*
*.cache
*/obj/*
SEM3.Example/*
sem3_studentmanager/*
sem3_web_oa_a/*
Slides/*
web_onionarchitecture/*
Web1.WebForms/*
Web3.ADO.NET/*
Web3.EF.FirstCode/*
Web3.EntityFramework/*
Web3.ProductManager/*
WebMVCforMoviePage/bin/Debug/*