@model IEnumerable<QShop.Models.Article>

@{
	ViewData["Title"] = "Bài viết | Qshop";
	ViewData["Page"] = "articles";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css {
	<link rel="stylesheet" href="/css/table.css" />
	<link rel="stylesheet" href="/css/pagination.css" />
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">QUẢN LÝ BÀI VIẾT</h1>
	</div>
</div>
<div class="row px-5">
	<div class="text-end pe-0">
		<a class="btn btn-simple item-green mb-3" href="/admin/articles/create"><i class="bi bi-plus-lg"></i> Thêm bài
			viết</a>
	</div>
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th>#ID</th>
				<th>Thumbnail </th>
				<th>Tiêu đề bài viết</th>
				<th>Tác giả</th>
				<th>Ngày cập nhật</th>
				<th style="width: 100px">Xử lý</th>
			</tr>
		</thead>
		<tbody id="data">
		</tbody>
	</table>
	<div id="pagination" class="justify-content-end p-0" style="margin-bottom: 10px">

	</div>

	@section js {
		<script src="/js/pagination.js"></script>
		<script type="module" src="/admin/js/article.js"></script>
	}