@*@model ProductModel

<div class="header-menu bg-black" style="border-bottom: 0.5px solid gray; height: 50px;">
    <div class="container" style="height: 100%;">
        <nav style="height: 100%;">
            <ul class="d-flex align-items-center h-100 w-25 justify-content-between">
                <li>
                    <label style="padding: 4px 8px; border: 1px solid gray; border-radius: 20px;">All Markes <i class="bi bi-caret-down-fill"></i></label>
                    <select">
                        <option>--ChooseBrand--</option>
                    </select>
                </li>
                <li>
                    <label style="padding: 4px 8px; border: 1px solid gray; border-radius: 20px;">All Year <i class="bi bi-caret-down-fill"></i></label>
                    <select">
                        <option>--ChooseYear--</option>
                    </select>
                </li>
                <li>
                    <label style="padding: 4px 8px; border: 1px solid gray; border-radius: 20px;">All Price <i class="bi bi-caret-down-fill"></i></label>
                    <select">
                        <option>--ChoosePrice--</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>*@
</div>