@model UserViewModel
@using OA.Web.Models

<!-- Modal -->
<form asp-action="AddUser" role="form" method="post">
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body form-horizontal">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="FirstName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="LastName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Email" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="UserName" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="UserName" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input type="password" asp-for="Password" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="col-lg-3 col-sm-3 control-label"></label>
                                    <div class="col-lg-6">
                                        <input asp-for="Address" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


