<div id="@Model.ID" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog @Model.Size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="@Model.AreaLabeledId">Modal Title</h4>
            </div>
            <div class="modal-body">
                <!-- Modal content here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
