<!-- Footer -->
<footer class="footer__1 pt-5 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-10 col-sm-10 col-md-6 col-lg-6 space-y-20">
				<div class="footer__logo">
					<a href="/home" class="navbar-brand">
						<img src="~/images/q.png" alt="" class="img-square" />
						<div class="fw-bold brand-desc">
							<div class="gradient">SHOP</div>
							<div>Acc Game</div>
						</div>
					</a>
				</div>
				<p class="footer__text mt-3">Sở hữu tài khoản chất lượng cao chưa đến 5 min.</p>
				<div>
					<ul class="footer__social space-x-10 mb-40 p-0">
						<li>
							<a href="https://www.facebook.com/" target="_blank" title="Turbosmurfs Facebook">
								<i class="bi bi-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/" target="_blank" title="Turbosmurfs Twitter">
								<i class="bi bi-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/" target="_blank" title="Turbosmurfs Instagram">
								<i class="bi bi-instagram"></i>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/" target="_blank" title="Turbosmurfs Youtube">
								<i class="bi bi-youtube"></i>
							</a>
						</li>
						<li>
							<a href="https://vm.tiktok.com/" target="_blank" title="Turbosmurfs TikTok">
								<i class="bi bi-tiktok"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-10 col-sm-10 col-md-3 col-lg-3 col-10">
				<h6 class="footer__title">Liên hệ</h6>
				<ul class="footer__list p-0">
					<li><a href="/home/beingCompleted" title="Tìm người chơi cùng">Tìm người chơi cùng</a></li>
					<li>
						<a href="/home/beingCompleted" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a>
					</li>
					<li><a href="/home/beingCompleted" title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></li>
					<li><a href="/home/beingCompleted" title="Terms Of Service">Điều khoản dịch vụ</a></li>
					<li><a href="/home/beingCompleted" title="Privacy Policy">Chính sách bảo mật</a></li>
				</ul>
			</div>
			<div class="col-10 col-sm-10 col-md-3 col-lg-3 col-10">
				<h6 class="footer__title">Tài khoản</h6>
				<ul class="footer__list p-0">
					<li>
						<a title="Buy LoL EUW Account, League of Legends Smurf" href="/market/?game=lien-minh-huyen-thoai">Liên Minh
							Huyền Thoại</a>
					</li>
					<li>
						<a href="/market/?game=valorant">Valorant</a>
					</li>
					<li>
						<a href="/market/?game=overwatch-2">Overwatch 2</a>
					</li>
					<li>
						<a href="/market/?game=toc-chien">Tốc chiến</a>
					</li>
					<li>
						<a href="/market/?game=dau-truong-chan-ly">Đấu trường chân lý</a>
					</li>
				</ul>
			</div>
		</div>
		<p class="copyright text-center">
			Copyright © @DateTime.Now.Year by q5nguyenn. Created with <i class="bi bi-heart-fill"></i>
		</p>
	</div>
</footer>