@{
    ViewData["Title"] = "Home Page";
}
<div class="container hmpage" >
<div class="text-center wel">
    <h1 class="display-4">Welcome</h1>
    <p>
        Chào mừng bạn đến với trang quản lý thư viện của chúng tôi. Trang web này cho phép bạn quản lý và tra cứu thông tin về sách, độc giả, mượn/trả sách và nhiều tính năng khác.
    </p>
    <p>
        Để bắt đầu, vui lòng đăng nhập hoặc đăng ký tài khoản mới. Nếu bạn đã có tài khoản, hãy nhấn vào nút bên dưới để đăng nhập.
    </p>
</div>
</div>