.select2-container--default .select2-selection--single {
  border-radius: 0px;
  font-size: 16px;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  width: 100%;
  height: 40px;
  background: #310944 !important;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: var(--border-radius);
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #ff5a83;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
  border: unset !important;
}

button.select2-selection__choice__remove {
  background-image: unset;
  border: unset;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  /* background-color: #f1f1f1; */
  color: #ff5a83;
  outline: none;
}

.select2-container .select2-selection--multiple {
  min-height: 40px;
}

.select2-container .select2-search--inline .select2-search__field {
  height: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: unset;
  outline: none;
}

.select2-container--default .select2-selection--multiple {
  border: none;
}

.select2-container--open .select2-dropdown--below {
  background-color: unset;
  background: var(--backgroud-card-color);
  border-radius: var(--border-radius);
  border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ffffff1a;
  color: white;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ffffff1a;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ffffffea;
}
