.table {
  border-radius: var(--border-radius) !important;
  overflow: hidden;
}

.table > :not(caption) > * > * {
  background-color: #190b2c;
}

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem;
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #ffffff1a;
  color: var(--bs-table-hover-color);
}

.btn-delete-item,
.btn-edit-item {
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ffffff1a;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
