@using Newtonsoft.Json;
@{
	bool isLoggedIn = ViewData["Login"] as bool? ?? false;
	string userThumbnail = "";
	if (isLoggedIn)
	{
		userThumbnail = ViewData["Thumbnail"] as string ?? "/images/avatar-default.jpg";
	}
}
<nav class="navbar navbar-expand-sm navbar-dark">
	<a href="/" class="navbar-brand ps-2">
		<img src="/images/q.png" alt="" class="img-square">
		<div class="fw-bold brand-desc">
			<div class="gradient">SHOP</div>
			<div>Acc Game</div>
		</div>
	</a>
	<div class="container-fluid text-end">
		<span class="collapse navbar-collapse justify-content-end" id="mynavbar">
			<div class="dropdown">
				<div class="nav-user ms-auto position-relative" data-bs-toggle="dropdown">
					<a class="nav-link p-0 rounded-circle overflow-hidde h-100" href="/users" style="">
						<img src="@userThumbnail" alt="" class="w-100 h-100 rounded-circle" style="object-fit: cover">
					</a>
					<img src="/images/Challenger-Border.png" alt="" class="position-absolute top-50 start-50 translate-middle"
						style="width: 150%; z-index: -1">
				</div>
				<ul class="dropdown-menu dropdown-menu-end w-100" style="margin-top:6px !important;">
					<li><a class="dropdown-item" href="/carts">Giỏ hàng</a></li>
					<li><a class="dropdown-item" href="/notifications">Thông báo</a></li>
					<li><a class="dropdown-item" href="/profile">Thông tin tài khoản</a></li>
					<li><a class="dropdown-item" href="/profile/transaction">Lịch sử giao dịch</a></li>
					<li><a class="dropdown-item" href="/admin/reset">Khôi phục dữ liệu</a></li>
					<li><a class="dropdown-item" href="/home/logout">Đăng xuất</a></li>
				</ul>
			</div>
		</span>
	</div>
</nav>