

<h1>AboutMe</h1>
@{
    ViewBag.ListTitle = "Contact Us";
    ViewBag.Items = new List<string>() { "8 Ton That Thuye", "Hoa Lac - Thach That, Ha Noi" };
    Html.RenderPartial("ListPartialView");
};