@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@{
    ViewBag.ListTitle = "Privacy apply";
    ViewBag.Items = new List<string>() { "Admin", "CS Team", "Product Team" };
    Html.RenderPartial("ListPartialView");
}
