@model QShop.Models.Banner

@{
	ViewData["Title"] = "Banner | Qshop";
	ViewData["Page"] = "banners";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css {
	<link rel="stylesheet" href="/css/table.css" />
	<style>
		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}

		body {
			font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
		}

		.toggle {
			cursor: pointer;
			display: inline-block;
		}

		.toggle-switch {
			display: inline-block;
			background: #ccc;
			border-radius: 16px;
			width: 58px;
			height: 32px;
			position: relative;
			vertical-align: middle;
			transition: background 0.25s;
		}

		.toggle-switch:before,
		.toggle-switch:after {
			content: "";
		}

		.toggle-switch:before {
			display: block;
			background: linear-gradient(to bottom, #fff 0%, #eee 100%);
			border-radius: 50%;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
			width: 24px;
			height: 24px;
			position: absolute;
			top: 4px;
			left: 4px;
			transition: left 0.25s;
		}

		.toggle:hover .toggle-switch:before {
			background: linear-gradient(to bottom, #fff 0%, #fff 100%);
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
		}

		.toggle-checkbox:checked+.toggle-switch {
			background: #56c080;
		}

		.toggle-checkbox:checked+.toggle-switch:before {
			left: 30px;
		}

		.toggle-checkbox {
			position: absolute;
			visibility: hidden;
		}

		.toggle-label {
			margin-left: 5px;
			position: relative;
			top: 2px;
		}
	</style>
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">QUẢN LÝ BANNER</h1>
	</div>
</div>
<div class=" px-5">
	<form class="w-75 mx-auto" method="post" action="/admin/banners/edit/?id=@Model.Id">
		<input type="number" id="Id" name="Id" value=@Model.Id hidden>
		<textarea id="content" name="content">@Model.Content</textarea>
		<span asp-validation-for="Content" class="text-danger"></span>
		<div class="text-end mt-3">
			<label class="toggle me-3">
				<input class="toggle-checkbox" type="checkbox" id="Status" name="Status" @(Model.Status == "on" ? "checked" :
					"")>
				<div class="toggle-switch"></div>
				<span class="toggle-label">Ẩn/Hiện</span>
			</label>
			<button class="btn" type="submit">Save</button>
		</div>
	</form>

	@section js {
		<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
		<script type="module" src="/admin/js/banner.js"></script>
		<script>
		</script>
	}