@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main class="main-active">
        <button id="sidebar-button" class="btn btn-primary btn-sm">
            <img alt="list-icon" src="/assets/list.svg">
        </button>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>
    </main>
</body>