@{
	ViewData["Title"] = "Đang hoàn thiện | Qshop";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-0" style="margin-top: 66px">
	<div class="hero_marketplace bg_white">
		<div class="container">
			<h1 class="text-center">ĐANG HOÀN THIỆN</h1>
		</div>
	</div>
</div>