
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Customer>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>

    <tbody>
        @foreach (var model in Model)
        {
            <tr>
                <td>@Html.DisplayFor(t=>model.Id)</td>
                <td>@Html.DisplayFor(m => model.CustName)</td>
                <td>@Html.DisplayFor(m => model.CustAdress)</td>
            </tr>
        }
    </tbody>
</table>
