@model IEnumerable<QShop.Models.Game>

@foreach (var item in Model)
{
	<a class="card col-10 col-sm-10 col-md-4 col-lg" href="/market/?game=@item.Slug">
		<img class="card-img-top" src="@item.Card" alt="Card image">
		<div class="card-body">
			<h4 class="card-title">
				<img src="@item.CardText" alt="">
			</h4>
			<p class="card-text">@item.Name</p>
		</div>
	</a>
}