@model BTTH.Models.ClassCourse

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}
<div class="w3-card w3-row-padding">
<h1>Create</h1>

<h4>ClassCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClsName" class="control-label"></label>
                <input asp-for="ClsName" class="form-control" />
                <span asp-validation-for="ClsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClsDescription" class="control-label"></label>
                <input asp-for="ClsDescription" class="form-control" />
                <span asp-validation-for="ClsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClsOrder" class="control-label"></label>
                <input asp-for="ClsOrder" class="form-control" />
                <span asp-validation-for="ClsOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

            </div>