@model ProductModel

<h3 class="p-4">Add Product</h3>
<div class="col-md-9 p-4">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="NameCar" class="form-control" />
            <span asp-validation-for="NameCar" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Year Of Manu Facture</label>
            <input asp-for="YearOfManufacture" class="form-control" />
            <span asp-validation-for="YearOfManufacture" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Choose a Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Brands</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>--Choose a Brands</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Image Upload</label>
            <input asp-for="ImageUpload" class="form-control-file" />
            <span asp-validation-for="ImageUpload" class="text-danger" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>

    </form>
<a asp-action="Index">Back to list Product</a>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description', {
            language: 'vi',
            autoParagraph: false,
            entities: false,
            basicEntities: false,
            entities_greek: false,
            entities_latin: false,
            entities_processNumerical: false,
            entities_additional: '',
            removePlugins: 'entities',
            htmlEncodeOutput: false,
            entities_processNumerical: false,
            entities: false,
            entities_latin: false,
            entities_greek: false
        });
    </script>
}