<div>
    <a class="position-relative" asp-action="Index" asp-controller="Cart">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @ViewData["giohang"]
            <span class="visually-hidden">unread messages</span>
        </span>
        <i class="bi bi-cart4 btn btn-warning"></i>
    </a>
</div>