@model IEnumerable<QShop.Models.Invoice>

@{
	ViewData["Title"] = "Hoá đơn | Qshop";
	ViewData["Page"] = "invoices";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css {
	<link rel="stylesheet" href="/css/table.css" />
	<link rel="stylesheet" href="/css/pagination.css" />
}
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">QUẢN LÝ HOÁ ĐƠN</h1>
	</div>
</div>
<div class="row px-5">
	<div class="text-end pe-0" hidden>
		<a class="btn btn-simple item-green mb-3" href="/admin/accounts/create"><i class="bi bi-plus-lg"></i> Thêm hoá
			đơn</a>
	</div>
	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th>#ID</th>
				<th>User</th>
				<th>Tổng tiền</th>
				<th>Mã giảm giá</th>
				<th>Tổng tiền thanh toán</th>
				<th>Ngày giao dịch</th>
				<th style="width: 100px">Xử lý</th>
			</tr>
		</thead>
		<tbody id="data">
		</tbody>
	</table>
	<div id="pagination" class="justify-content-end p-0" style="margin-bottom: 10px">
	</div>
</div>

@section js {
	<script src="/js/pagination.js"></script>
	<script type="module" src="/admin/js/invoice.js"></script>
}