@model IEnumerable<QShop.Models.Game>

@{
	ViewData["Title"] = "Games | Qshop";
	ViewData["Page"] = "games";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@* <h1 class="text-center" style="margin-top: 100px;margin-bottom: 30px;">QUẢN LÝ GAME</h1> *@
<div class="hero_marketplace-admin bg_white">
	<div class="container">
		<h1 class="text-center text-uppercase">QUẢN LÝ GAME</h1>
	</div>
</div>
<div class="row px-5">
	@foreach (var item in Model)
	{
		<a class="card col-3 position-relative card-item" href="/admin/games/edit/?id=@item.Id">
			<img class="card-img-top" src="@item.Card" alt="Card image">
			<div class="card-body">
				<h4 class="card-title">
					<img src="@item.CardText" alt="">
				</h4>
				<p class="card-text">@item.Name</p>
			</div>
			<span class="item-delete" data-url="/admin/games/delete/?id=@item.Id"><i class="bi bi-x-lg"></i></span>
		</a>
	}
	<a class="card col-3" href="/admin/games/create">
		<img class="card-img-top" src="/images/add-game.png" alt="Card image" style="background-color: #ffffff1a">
		<div class="card-body">
			<h4 class="card-title"></h4>
			<p class="card-text"><i class="bi bi-plus-lg" style="color: var(--green-color);"></i> Thêm game</p>
		</div>
	</a>
</div>

@section js {
	<script>
		$('.item-delete').click(function (e) {
			e.preventDefault();
			let that = $(this);
			let url = $(this).data("url");
			Swal.fire({
				title: 'Xác nhận xoá?',
				text: "Việc này không thể hoàn tác!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Xoá!',
				cancelButtonText: 'Huỷ'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: "POST",
						contentType: "application/json; charset=utf-8",
						url: url,
						success: function (response) {
							console.log(response);
							if (response == 200) {
								that.parent().hide();
								Swal.fire(
									'Đã xoá!',
									'Xoá thành công.',
									'success'
								)
							} else {
								Swal.fire(
									'Xoá không thành công!',
									'Có thể trong Game vẫn còn Account.',
									'error'
								)
							}
						}
					});
				}
			})
		});
	</script>
}