@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div>
    <h3>@ViewBag.ListTitle</h3>
    <ul>
        @for (int i = 0; i < ViewBag.Items.Count; i++)
        {
            <li>@ViewBag.Items[i]</li>
        }
    </ul>
    
</div>